<br>
<h1>Welcome <%= @user.username %> !</h1>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <a href="/pieces/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" >Create New Piece</a>
    </div>

    <div class="col-sm text-center">
        <a href="/capsule/<%= @user.capsule.id %>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit capsule</a>
    </div>

    <div class="col-sm text-center">
      <form class="" action="/logout" method="post">
        <input class="btn btn-primary btn-lg active" type="submit" value="Logout">
      </form>
    </div>
  </div>
</div> <!--container for nav -->

<br><br>
<!-- Buttons/links: edit capsule, create new piece, log out -->






<!-- categories -->




<!-- # <% @user.categories.each do |category| %>
# <a href="/categories/<%= category.id %>"><%= category.name %></a>
# <% end %>
# </div> -->

<!-- Current Capsule -->

<div class="container">

  <div class="row">


    <div class="col-md border ">
      <h1>Your Capsule:  <a href="/capsule/<%= @user.capsule.id %>"> <%= @user.capsule.name %></a></h1>
      <li>
        <% @user.capsule.pieces.each do |piece| %>
        <ul><%= piece.description  %></ul>
        <% end %>
      </li>
    </div>

    <div class="col-md border">
      <h1>Your Pieces</h1>
      <% @user.pieces.each do |piece| %>
        <div class="col">
        <label>  <a href="/pieces/<%= piece.id %>"><%= piece.description %></a></label>

          <br>


            <form action="/capsule/<%= @user.capsule.id %>/add/<%= piece.id %>" method="post">
              <input id="hidden" type="hidden" name="_method" value="PATCH">
              <input type="submit" value="ADD">
            </form>
          </div>
      <% end %>
    </div>
  </div> <!--row -->
</div> <!-- container  -->

<br>

<!-- pieces -->
