<h1>Welcome <%= @user.username %> !</h1>
<br><br>

<% @user.pieces.each do |piece| %>
  <h2> <%= piece.description %>  </h2>
  <h3> <%= piece.price %>  </h2>
  <h3> <%= piece.size %>  </h2>
  <h3> <%= piece.category.name %>  </h2>


  <a href="/pieces/<%= piece.id %>/edit">EDIT</a>
  <!-- <form action="/pieces/<%= piece.id %>/edit" method="post">
    <input type="submit" value="EDIT">
  </form> -->
    <br><br>
<% end %>

<!-- Show:
__________________________
Piece:
description, size, price, category

edit, or delete
___________________________

Create a piece
 -->

 <a href="/pieces/new">Create A Piece!</a>
