<br>
<h1>Welcome <%= @user.username %> !</h1>
<br><br>

<!-- categories -->

<div class="row">


<% @user.categories.each do |category| %>
<a href="/categories/<%= category.id %>"><%= category.name %></a>
<% end %>
</div>

<!-- Current Capsule -->

<div class="container">

  <div class="row">


    <div class="col-md ">
      <h1>Your Capsule:  <a href="/capsule/<%= @user.capsule.id %>"> <%= @user.capsule.name %></a></h1>

      <% @user.capsule.pieces.each do |piece| %>

      <%= piece.description  %>
      <% end %>
    </div>

    <div class="col-md ">
      <h1>Your Pieces</h1>
      <% @user.pieces.each do |piece| %>
        <div class="col">
        <label>  <a href="/pieces/<%= piece.id %>"><%= piece.description %></a></label>

          <br>


            <form action="/capsule/<%= @user.capsule.id %>/add/<%= piece.id %>" method="post">
              <input id="hidden" type="hidden" name="_method" value="PATCH">
              <input type="submit" value="ADD">
            </form>
          </div>
      <% end %>
    </div>

  </div> <!--row -->
</div> <!-- container  -->



<!-- pieces -->



<div class="row">
  <a href="/pieces/new">Create A Piece!</a>


  <form class="" action="/logout" method="post">
    <input type="submit" value="Logout">
  </form>

</div>
