Edit Piece: <%= @piece.description %>
<%= @piece.price %>
<%= @piece.size %>
<%= @piece.category.name %>


<form class="" action="/pieces/<%= @piece.id  %>/edit" method="post">
   <input id="hidden" type="hidden" name="_method" value="patch">
   Description: <input type="text" name="description" >
   Price: <input type="text" name="price" >
   Size: <input type="text" name="size">


   <% Category.all.each do |category| %>
   <input type="radio" name="category_id" value="<%= category.id %>"><%= category.name %></input>
   <% end %>

   <br><br>
   <input type="submit" value="Update Piece">


</form>
