
<a class="btn btn-primary" href="/users/<%= current_user.id %>" role="button">Back to Home</a>
<h1> <%= @piece.description %></h1>
<br>
<p> Price: $<%= @piece.price %></p>
<p> Category: <%= @piece.category.name %> </p>


  <form class="" action="/pieces/<%= @piece.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="DELETE">
  </form>

<br>
  <form action="/pieces/<%= @piece.id %>/edit" method="get">
    <input type="submit" value="EDIT">
  </form>
    <br><br>
