<h1> <%= @capsule.name %></h1>


<a href="/capsule/<%= @capsule.id %>/edit_info">Edit Capsule Info</a>


<form class="" action="/capsule/<%= @capsule.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Capsule">
</form>

<!-- We want to see this user's capsule piece listed by category  -->
<% Category.all.each do |category| %>
 <h2><%= category.name %></h2>
 <% @capsule.pieces.each do |piece| %>
  <% if piece.category == category %>
  <h3><%= piece.description %></h3>

    <form class="" action="/capsule/<%= @capsule.id %>/pieces/<%= piece.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="submit" value="Remove from Capsule">
    </form>
  <% end %>
 <% end %>
<% end  %>
